# Secrets
.env
*.env
service_account.json

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Logs
*.log
error.log
output.log

# React / Node
node_modules/
dist/

# Vite
.vite/

# macOS
.DS_Store

# VS Code
.vscode/

# Build artifacts
coverage/